.foot-main{
    height: 100%;
    width: 1440px;
    display: flex;
    flex-direction: column;
}
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600x;
    background: linear-gradient(86.57deg, #12D8FA 8.91%, #A6FFCB 92.4%);
}
@media only screen and (max-width: 1440px){
    .foot-main{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }
    footer{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 600x;
        background: linear-gradient(86.57deg, #12D8FA 8.91%, #A6FFCB 92.4%);
    }
}
/*  */
.foot-left{
    width: 48%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
}
.logo-black{
    
    height: 24.01px;
    width: 168px;
    background-size: cover;
    display: inline-flex;
    justify-content:center;
    box-sizing: border-box;
    object-fit: fill;
    background-position: center;
    background-image: url("../../../public/media/Logo-black.png");
    
}
.about-footer{
    margin-top: 24px!important;
    width: auto;
    height: 41px;
    left: 165px;
    top: 3480px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;

    color: #000000;

}
.input-email{
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.email_input{
    display: flex;
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:#999;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 0 10px;
    width: 490px;
}
::placeholder {
width: 450px;
height: 21px;
left: 183px;
top: 3558px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #C1C1C1;
}

.footer-email{
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    margin-top: auto;
    border-radius: 100px;
    padding: 10px;
    width: 70%;
    height: 48px;
    left: 165px;
    top: 3545px;
    background: rgba(0, 0, 0, 0.4)!important;
    backdrop-filter: blur(2px);
}
.footer-signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 10px;
    border: none;
    width: 102px;
    height: 48px;
    left: 498px;
    top: 3545px;
    margin-left: 12px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 100px;
}
.footer-signup:hover{
    background:black;
}
.footer-signup>p{
    width: 54px;
height: 21px;

/* 14 Bold */

font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* White */

color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
/* right */
.foot-right{
    width: 48%;
    height: 400px;
    display: flex;
    color: #000000;
    
}
.foot-right>ul>p{
    margin-bottom: 29px!important;
    width: 92px;
    height: 21px;
    left: 720px;
    top: 3435px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.foot-right>ul{
    width: 100%;
}
.foot-right>ul>li>a{
    text-decoration: none;
    color: black;
}
.foot-right>ul>li{
    margin-bottom: 10px;
    list-style: none;
    width: auto;
    height: 21px;    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;        
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
/*  */
.footer-1{
    display: flex;
    flex-direction: row;
    margin-top: 64px;
    justify-content: space-between;
    width: 100%;
}
.footer-2{
    display: flex;
    flex-direction: column;
}
.footer-line{
    width: 100%;
    height: 0px;
    left: 165px;
    top: 3850px;

    border: 2px solid black!important;
    margin: 0px;
}
.copyright{
    margin-top: 29px;
    margin-bottom: 44px;
    display: flex;
    justify-content: space-between;
}
.left-copyright>p{
    width: 203px;
    height: 16px;
    left: 165px;
    top: 3874px;

    /* 12 Reg */

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #17191C;
}
.right-copyright{
    display: flex;
    width: 30%;
    justify-content: end;
    flex-wrap: wrap;
}
.right-copyright>p{
    margin-left: 44px!important;
    width: auto;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #17191C;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.b{
    display: none;
 }

@media only screen and (max-width: 1090px){
    .footer-email{
        width: 87%!important;
    }
    .footer-signup{
        margin-left: 12px;
    }
    .foot-right-ul{
        display: none;
    }
    .foot-right{
        height: auto;
        width: 100%;
    }
    .foot-left{
        height: auto;
        width: 100%;
    }
    
    .footer-1{
        margin-bottom: 2%;
        flex-direction: column;
    }
    .b{
       display: flex;
       width: 100%;
    }
    .accordion{
        margin-top: 20px;
        height: auto;
        width: 100%;
        background-color: transparent;
    }
    .accordion-button{
        background-color: transparent;
        border-top:0px!important;
    }
    .accordion-button:not(.collapsed) {
        background-color: transparent;
        color: #000000;
    }
    .accordion-button:focus {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
    .accordion-item {
        border:none;
        background-color: transparent;
    }
    .accordion-body>li{
        margin-bottom: 10px;
        list-style: none;
        width: auto;
        height: 21px;    
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;        
        color: #000000!important;
        flex: none;
        order: 0;
        flex-grow: 0;
        
    }
    .accordion-body>li>a{
        text-decoration: none;
        color: black;
    }
    .accordion-button>p{
        width: 92px;
        height: 21px;
        left: 720px;
        top: 3435px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
}
@media only screen and (max-width: 906px){
    .footer-email{
        width: 78%!important;
    }
}
@media only screen and (max-width: 560px){
    .footer-email{
        width: 98%!important;
    }
    .footer-signup{
        margin-top: 10px!important;
        margin-left: 0px!important;
    }
    .foot-left{
        padding-left: 10px;
        padding-right: 10px;
    }
 }
 @media only screen and (max-width: 548px){
    .footer-signup{
        margin-left: 1px!important;
    }
 }
 @media only screen and (max-width: 468px){
    .footer-signup{
        margin-top: 12px;
    }
 }