.banner-3{
    height: AUTO;
    margin-top: 60.12px;
    background-color: black;
    display: block;
    margin-bottom: 18px;
    position: relative;
}
.banner-3-control{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid #787878;
}
.table-1{
 margin-top: 12px;   
}
.banner3-choosepage{
    display: flex; 
}

.trending{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0015em;
    position: relative;
}
/* ------------------------------------ */
.nav-tabs .nav-link{
    border-bottom: none;
    color: #787878;
}
.nav-tabs{
    flex-wrap: nowrap;
    border: none!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border: none;
    color: #FFFFFF;
    background-color: black;
}
.nav-link{
    color: #787878!important;
    border: 1px solid #787878!important;
    border-top:none!important;
    border-left: none!important;
    border-right: none!important;
}
.nav-link.active {
    color: #FFFFFF!important;
    border: 1px solid #FFFFFF!important;
    border-top:none!important;
    border-left: none!important;
    border-right: none!important;
}
/* ------------------------------------ */
.btn-secondary:focus {
    background-color: transparent;
    box-shadow: none;
}
.dropdown-menu{
    background-color: #131212!important;
}
.dropdown-menu>li>a{
    color: #FFFFFF!important;
}
.dropdown-menu>li:hover a{
    background-color: black!important;
}
/* ------------------------------------ */
.top{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0015em;
}
.banner3-choosepage>.choose{
    margin-right: 12px!important;
}
.banner3-choosepage>.banner3{
    margin-left: 29px;
}
.banner3-hr{
    border: 1px solid #787878;
    margin-top: 6px;
    position: absolute;
    width: 100%;
}
.table-double{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table1{
    width: 49%;
    min-height: 500px;
    color: white;
}
.floorprice{
    min-width: 90px;
}

    
    @media only screen and (max-width: 1855px){
        
    
    .banner3-choosepage>.banner3{
        margin-left: 12px!important;
    }
    @media only screen and (max-width: 1140px){
        .table1{
            width: 100%;
        }
    }
    @media only screen and (max-width: 990px){
        .banner-3-control{
            border: none;
            align-items: center;
        }
    }
    @media only screen and (max-width: 600px){
        .button-seeall-24h{
            display: flex;
            justify-self: start;
        }
    }
    @media only screen and (max-width: 414px){
        .button-seeall-24h{
            display: flex;
            margin-top: 12px;
            margin-left: 19px;
            justify-content: flex-start;
        }
        .banner-3-control{
            flex-direction: column;
            justify-content: left;
            
        }
        
    }
    
/*  */
.collection{
width: 10%;
}
.table1>tr>th{
    width: 10%;

}
.table-double{
    overflow: scroll;
}
.table-double::-webkit-scrollbar {
    width: 0 !important;
    display: none; 
}
}
.collection{
    width: 72px;
    height: 21px;
    left: 177px;
    top: 1030px;    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11.3px;
    line-height: 21px;        
    color: #C1C1C1;
}
.floorprice{
    width: 74px;
    height: 31px;
    left: 501px;
    top: 1030px;
    font-style: normal;
    font-weight: 500;
    font-size: 11.3px;
    line-height: 21px;
    
    color: #C1C1C1;
    
}
.volume{
    width: 25px;
    height: 21px;
    left: 629px;
    top: 1030px;
    font-style: normal;
    font-weight: 500;
    font-size: 11.3px;
    line-height: 21px;
    color: #C1C1C1;
}
td{
    border: none;
}
th{
    border: none;
}
.table-item{
    display: flex;
    align-items: center;
 
}
.table-item>p{
    width: 35px;
    padding: 7px;
}
.table-img{
    height: 60.8px;
    width: 60.8px;
    border-radius: 50%;
    margin-left: 15.2px;
    left: 5.54%;
    right: 82.92%;
    top: 16.48%;
    bottom: 16.7%;

}

.name-item{
    width: auto;
    height: 21px;


    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;


    color: #FFFFFF;



    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 16px;
}
.name-item{
    width: 60%;
    display: flex;
}
.name-item>p{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.value{
    vertical-align:middle;
}
.value>p{
    left: 66.41%;
    right: 22.39%;
    top: 38.46%;
    bottom: 38.46%;
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 12.1px;
    line-height: 21px;    
    
    color: #FFFFFF;
}
.blue-stick{
    background-image: url("https://img.icons8.com/ios-glyphs/13.34/22C3E6/approval.png");
    margin: 2px;
}
.title-table:hover{
    background-color: black;
}
tr:hover{
    background-color: #131212;
}