.banner-2{
    margin-top: 60.12px;
    background-color: black;
    display: block;
    margin-bottom: 18px;
    /* justify-content: flex-start; */
    /* height: auto; */
}
.banner2-control-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    margin-bottom: 12px;
}
.banner2-control-1>p{
    width: 112px;
    height: 32px;
    left: 166px;
    top: 532px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0015em;
    color: #FFFFFF;

}
.control-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: auto;
    /* margin-left:7%;
    margin-right:7%; */
}
.control-1>p{
    width: 112px;
    height: 32px;
    left: 166px;
    top: 532px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.0015em;
    color: #FFFFFF;
}
.see-all{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 12px 10px 16px;
    gap: 4px;
    width: 88px;
    height: 38px;
    left: 1188px;
    top: 524px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #787878;
    backdrop-filter: blur(2px);
    border-radius: 100px;
}
.see-all>p{
    width: 70px;
    height: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.control-2{
    margin-top: 14.56px;
    width: 100%;
    height: 340px;
    overflow-x:hidden;
    position: relative;
    
}
/* ---------------------------------- */
.card-banner-2{
    height: 400px;
    width: 96%;
    background-color: #787878;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.card-banner-2:hover .banner-2-img{
    transform: scale(1.2);
}
.banner-2-img{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.banner-2-avatar{
    object-fit: cover;
    position: absolute;
    width: 11%;
    height: 9%;
    left: 6%;
    right: 83.12%;
    top: 7.44%;
    bottom: 83.27%;
    border: 2px solid white;
    border-radius: 50%;
    
}
.banner-2-nameicon{
    position: absolute;
    left: 19.8%;
    right: 9.41%;
    top: 7.44%;
    bottom: 83.95%;

    display: flex;
    align-items: center;
    width: 74%;
    height: 9%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 24px;
    border: none;
}
.banner-2-nameicon>p{
    width: auto;
    height: auto;
    margin-left: 7%!important;   
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;    
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.banner-2-nameimage{
    position: absolute;
    left: 5.94%;
    right: 5.94%;
    bottom: 4.93%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    border-radius: 24px;
    border: none;
    height: 11%;
    display: flex;
    align-items: center;
    
}
.banner-2-nameimage>p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
    margin-left: 5%!important;
}
/* ------------------------------------- */
.slick-next, .slick-prev {
    width: 50px;
    height: 50px; 
    color: white;
}
.slick-next:before, .slick-prev:before {
    font-size: 50px;
}
.slick-prev {
    left: -5px;
}
.slick-next {
    right: -5px;
}
.slick-dots, .slick-next, .slick-prev {
    z-index: 2;
}
@media only screen and (min-width: 1440px){
    .slick-prev {
        left: -30px;
    }
    .slick-next {
        right: -25px;
    }
}

