.contain-1{
    margin-bottom: 8px!important;
}
.content-2{
    margin-top: 8px!important;
}
.content-3{
    display: flex;
}
.banner{
    height: 359.88px;
    width: 100%;
    background-size: cover;
    display: inline-flex;
    flex-direction: column;
    justify-content:center;
    position: static;
    box-sizing: border-box;
    object-fit: fill;
    background-position: center;
}
.banner-1{
    background-image: url(../../../public/media/banner-1.png);
}
.content-layout-left{
    width: 428px;
        margin-left: 10%;
        margin-right: 10%;
}

@media only screen and (max-width: 1200px){
    .content-layout-left{
        width: auto;
        margin-left: 10%;
        margin-right: 10%;
    }
}
.content-1>p{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.0015em;
}
.content-2>p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}
.content-3>button{
    margin-top: 38px!important;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 156px;
    height: 48px;
    left: 220px;
    top: 345px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(2px);
    border-radius: 100px;
}
.content-3>button>p{
    width: 124px;
    height: 22px;
    margin-bottom: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.0015em;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}