header{
    display: flex;
    justify-content: center;
}
.header-navbar{
    height: 88px;
    width: 1440px;
}
.bg-dark {
    background-color: black!important;
}
.navbar{
    z-index: 100;
}
.nav-hiden{
    display: none;
}
@media only screen and (max-width: 1200px){
    header{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media only screen and (max-width: 990px){
    .Home-background:hover{
        transform: scale(1)!important;
    }
    .navbar-li{
        border: 1px solid #222;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
    }
    .nav-item-button-1{
        flex-direction: column;
    }
    .navbar-3{
        display: none!important;
    }
    .nav-item{
        padding: 2%;
    }
    .nav-hiden{
        display: flex;
        flex-direction: column;
    }
}
.navbar-nav{
    margin-left: 0px;
}
.nav-item-button{
    display: flex;
    justify-content: space-around;
    margin:0px!important;
    width: 100%;
}
.nav-item-button-1{
    display: flex;
    justify-content: space-around;
    margin:0px!important
}

.navbar-1{
    width: 168px;
    height: 24.01px;
    margin-right: 18px!important;

}

.navbar-2{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.navbar-li{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}
/*  */
.navbar-li:hover a{
    color: #12D8FA!important;
}
.Home-background:hover{
    transform: scale(1.2);
}
.button-icon:hover{
    transform: scale(1.4);
}
/*  */
.navbar-li> a{
    text-decoration: none;
    color: white;
}
.navbar-ul{
    margin: 0px!important;
}
.button-nav-logo{
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0px;
}
.logo{
    
    height: 24.01px;
    width: 168px;
    background-size: cover;
    display: inline-flex;
    justify-content:center;
    box-sizing: border-box;
    object-fit: fill;
    background-position: center;
    background-image: url("../../../public/media/logoDEBE.png");
}
.Home-background{
    width: auto;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    background: linear-gradient(86.57deg, #12D8FA 8.91%, #A6FFCB 92.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav-item-menu{
    width: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
