.navbar-search{
    width: 80%;
}
.navbar-searchbar{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: auto;
    margin-top: auto;
    height: 40%;
    width: 100%;
    background-color: #17191C;
    border-radius: 100px;
    padding: 10px;
}
@media only screen and (max-width: 990px){
    .navbar-searchbar{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .navbar-search{
        width: 100%;
    }
}

    .search_input{
        display: flex;
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:#999;
        line-height: 40px;
        transition: width 0.4s linear;
        padding: 0 10px;
        width: 100%;
    }
    .search_icon{
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        text-decoration:none;
        background: none;
        border-radius: 50%;
        border: none;
    }
    .icon-search{
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-image: url("https://img.icons8.com/material-sharp/24/EBEBEB/search.png");
    }
    .button-icon{
        height: 30px;
        width: 40px;
        display: flex;
        align-items: center;
        text-decoration:none;
        background: none;
        border-radius: 50%;
        border: none;
        flex-direction: row;
    }
    
    .navbar-3{
        display: flex;
        width: 30%;
        justify-content: space-between;
        align-items: center;
    }
    .icon-user{
        background-image: url("https://img.icons8.com/sf-ultralight/50/FFFFFF/collaborator-male.png");
    }
    .icon-card-nav{
        width: 25px!important;
        background-image: url("https://img.icons8.com/sf-ultralight/100/FFFFFF/card-wallet.png");
    }
    .icon-heart{
        background-image: url("https://img.icons8.com/sf-ultralight/50/FFFFFF/like.png");
    }
    
    .icon{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        justify-content: center;
    }
    .icon-nav{
        display: flex;
        width: 3rem;
        height: 3rem;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        justify-content: center!important;
    }
    